html {
  position: relative;
  min-height: 100%;
  font-family: 'Libre Baskerville', serif;
}

body {
  text-align: center;
  margin: 0;
}

/* Container for blurred background */

.blur-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/* Page Settings */

header,
footer {
  padding: 1% 15%;
  background-color: 3#A5C9CA;
}

/* Headings */

h1,
h2,
h3 {
  font-family: 'Rubik', sans-serif;
}

/* Header Section */

/* Main Section */

main {
  flex: 1;
  background-color: #E7F6F2;
}

.start-round {
  padding-top: 20px;
}

.score {
  margin-top: 1%;
}

.win-message {
  font-style: italic;
  font-size: 2rem;
}

.player-btns {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7%;
}

img {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 50%;
}

.pbtn:active {
  border-color: grey;
  box-shadow: 1px 1px 1px 1px lightgrey, -1px -1px 1px 1px lightgrey;
}

.hidden {
  visibility: hidden;
}

/* Footer Section */

footer {
  font-style: italic;
}

/* Winner Display */

.blur {
  filter: blur(2px);
}

.winner {
  background-color: rgba(0,0,0, 0.5);
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.computer-wins {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 15%;
  left: 35%;
  right: auto;
}

.player-wins {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 15%;
  left: 40%;
  right: auto;
}

.winner-img {
  width: 400px;
  height: auto;
  border-radius: 16px;
  border-width: 5px;
  border-style: solid;
}

.computer-wins h1 {
  color: darkred;
  font-size: 4.5rem;
}

.computer-wins .winner-img {
  border-color: red;
}

.player-wins h1 {
  color: darkgreen;
  font-size: 4.5rem;
}

.player-wins .winner-img {
  border-color: green;
}